* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
        'Helvetica Neue', sans-serif;
    background-color: #f2f2f2;
}

.clearfix {
    clear: both;
}

@media screen and (max-width: 500px) {
    .header {
        width: 474px;
    }
}

.Main-img {
    background-image: url('./img/backgroun-header.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    color: #f1e8e8;
    width: 100%;
    height: 500px;
    position: relative;
}

.header-small {
    color: #f1e8e8;
    width: 100%;
    height: 30px;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 650px) {
    .header-small {
        height: auto;
    }
}

.header-sellhouse {
    background-image: url('./img/sellheaderback.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    color: #f1e8e8;

    width: 100%;
    height: 500px;
    position: relative;
}
nav {
    width: 163px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 5px;
}

ul li .img {
    display: flex;
    align-items: center;
    padding: 5px;
    justify-content: space-around;
    width: 122px;
}

.select {
    width: 110px;
    color: black;
    display: flex;
    align-items: flex-end;
    height: 23px;
}

.arrowdown {
    position: absolute;
    /* line-height: 26px; */
    top: 2px;
}

.select input {
    width: 80px;
    border-radius: 5px;
}

.select .arrowdown:hover {
    cursor: pointer;
    color: brown;
    width: 30px;
}

.img img {
    width: 25px;
}
ul li {
    height: 15px;
}
ul li a {
    margin-left: 10px;
    color: rgb(80, 76, 76);
    font-size: 15px;
}
ul li a:hover {
    background-color: rgb(134, 131, 131);
    border-radius: 2px;
}

.navbar-sign {
    width: 100%;
    text-align: center;
    display: flex;
    background-color: rgba(223, 220, 210, 0.4);
    justify-content: space-between;
}

.nav-dream-house {
    width: 50%;
    text-align: initial;
    margin-left: 20px;
    color: black;
}
.navbar-sales-rent {
    height: 30px;
    display: flex;
    justify-content: space-between;
    padding: 3px;
    background-color: rgba(223, 220, 210, 0.4);
}
.navbar-brand {
    text-decoration: none;
}

.nav-dream-house .h-home {
    width: 100px;
}

.navbar-sign-in-up {
    width: 50%;
    text-align: end;
    margin-right: 3px;
    color: rgb(41, 37, 37);
}

.input-header {
    width: 95%;
    text-align: right;
}
.input-header-sales-rent {
    width: 25%;
    height: 100%;
    text-align: center;
}

.input-header-sales-rent input {
    width: 200px;
    height: 100%;
    color: black;
    border: 1px solid rgba(223, 220, 210, 0.4);
    border-radius: 15px;
    background: #fff;

    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    background-image: url('./img/search_white_48dp.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: right;
}

.card-user {
    border-radius: 10px;
    width: 150px;
    height: 118px;
    background-color: white;

    position: absolute;
    right: 0px;
    visibility: hidden;
}
.card-user ul li::marker {
    text-decoration: none;
    color: transparent;
}
#check {
    display: none;
}
#check:checked ~ .card-user {
    visibility: visible;
}
#check:checked ~ nav .img {
    display: none;
}

.user {
    display: flex;
    height: 23px;
}
.user select {
    border: none;
    background: transparent;
}
.user img {
    width: 30px;
}
.user2 {
    display: none;
}
.user2 select {
    border: none;
    background: #fff;
    width: 20px;
}
.user2 img {
    width: 30px;
}

@media screen and (max-width: 650px) {
    .user {
        display: none;
    }
    .input-header-sales-rent {
        display: none;
    }
    .user2 {
        display: flex;
        height: 23px;
        width: 50%;
        justify-content: flex-end;
    }
}

.text-content {
    padding: 15px;
    margin-left: 15px;
    width: 70%;
    height: 79%;
}
.text-content h1 {
    font-size: 40px;
    margin-bottom: 10px;
    text-shadow: 0px 2px 3px black;
}

.text-content h6 {
    font-size: 20px;
    font-weight: normal;
    margin-top: 21px;
    color: white;
    text-shadow: 0px 0px 1px black;
}

.text-content1 {
    padding: 25px;
    margin-left: 15px;
    width: 100%;
    height: 79%;
}
.text-content1 h1 {
    font-size: 40px;
    margin-bottom: 10px;
    text-shadow: 0px 2px 3px black;
}

.text-content1 h6 {
    font-size: 20px;
    font-weight: normal;
    margin-top: 21px;
    color: rgb(39, 38, 38);
    text-shadow: 0px 0px 1px black;
}

.input-header input {
    width: 150px;
    color: black;
    border: 0px;
    background-color: rgba(223, 220, 210, 0.4);
    background-image: url('./img/search_white_48dp.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: right;
}

@media screen and (max-width: 260px) {
    .text-content h1 {
        font-size: 122%;
    }
    .text-content h6 {
        font-size: 80%;
    }
    .input-header input {
        width: 100%;
    }
}

.section-title {
    padding: 20px;
    color: rgb(90, 86, 86);
    margin-left: 5%;
    font-size: 30px;
}

/*-==================================card ================= */

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

    margin: 0 auto;
}
.card {
    width: 28%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
}
.card:hover {
    box-shadow: 5px 5px 20ox rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}
.card img {
    width: 100%;
    margin-top: -15%;
}
.card .contenido {
    text-align: center;
    margin-top: -20%;
}

.card .contenido-sales-rent {
    padding: 15px;
}

.dimensions {
    display: flex;
    gap: 20px;
}

.card .contenido p {
    line-height: 1;
    color: #6a6a6a;
    margin-bottom: 3%;
    padding: 10px;
}
.card .contenido h3 {
    font-weight: 400;
    margin-bottom: 2%;
}
.card .contenido button {
    text-decoration: none;
    display: inline-block;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 18px;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    transition: all 400ms ease;
    color: seashell;
    background-color: rgb(62, 63, 66);
}

.card .contenido button:hover {
    background: #2fb4cc;
    color: #fff;
}

@media screen and (max-width: 750px) {
    .container {
        flex-direction: column;
    }
    .card {
        width: 95%;
    }
}

.card .icon-heart {
    width: 25px;
    position: relative;
    left: 85%;
    top: 18px;
}

a img.icon-heart:hover {
    background-color: darkred;
}

/*=================================cajas=======================================*/

/**********************************footer*************************************************/
.section-view {
    text-align: center;
    margin: 20px;
}

.section-view button {
    background-color: blanchedalmond;
    color: black;
    border-radius: 5px;
    padding: 10px;
}

footer {
    margin: 10px;
    padding: 5px;
    border-bottom: 1px solid black;
    margin-bottom: 40px;
}

/************loguin*****************************************************/

.login {
    width: 400px;
    background-color: #ebd9d9d9;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    position: absolute;
    top: 14%;
    left: 30%;
}

.login .logo img {
    margin: 5px;
    width: 150px;
}
/**-*-*-*-*-*-*-*-*-*form-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/

.form-loguin {
    width: 100%;
    flex-direction: column;
    display: flex;
    align-content: flex-start;
}
.form-loguin input {
    width: 85%;
    height: 45px;
    border-radius: 5px;
    border: 1px solid rgb(109, 108, 107);
    margin: 5px;
    margin-left: 7%;
}
.form-loguin .button-input {
    background-color: rgb(31 31 203);
    color: white;
    width: 151px;
    height: 46px;
    margin-top: 13px;
    margin-bottom: 16px;
    font-size: 18px;
    margin-left: 29%;
    cursor: pointer;
}
.form-loguin .button-input:hover {
    background-color: rgb(39, 38, 38);
}

.form-loguin h4,
h6 {
    color: rgb(56, 54, 54);
    margin-left: 7%;
}
/************************************cajas***********************************************/

.explore-view {
    text-align: left;
    margin: 20px;
    padding: 20px;
}

.contenedor {
    width: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (max-width: 750px) {
    .contenedor {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.cajas {
    background-image: url('./img/newyork.png');
    background-size: cover;
    background-position: center center;
    display: flex;
    height: 250px;
    width: 30%;
    border-radius: 6px;
    overflow: hidden;
    margin: 5px;
}

@media screen and (max-width: 750px) {
    .cajas {
        width: 96%;
        height: 300px;
    }
}

.textos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    margin: 4px;
}

.textos h3 {
    background: linear-gradient(180deg, black, transparent);
    padding: 5px;
    height: 38px;
    color: white;
    width: 100%;
}

#vh {
    width: 100px;
}

.textos button {
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 18px;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    transition: all 400ms ease;
    color: black;
    background: rgba(233, 233, 224, 0.63);
    width: 85%;
    margin: 10px;
}

.textos button:hover {
    background: #2fb4cc;
    color: #fff;
}

/*****************************view home*********************************/

.big-img {
    width: 100%;
    height: 500px;

    display: flex;
    justify-content: center;
}

.goback-ico img {
    width: 120px;
}

.container-view {
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.card-view {
    border-radius: 6px;
    overflow: hidden;
    cursor: default;
    transition: all 400ms ease;
}

.card-view img {
    width: 100%;
    height: 200px;
}

.datos1 {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.datos2 {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.datos3 {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.datos3 a button {
    width: 100%;
    height: 40px;
    text-decoration: none;
    font-size: 25px;
    border-radius: 4px;
    transition: all 400ms ease;
    color: seashell;
    background-color: rgb(6, 41, 146);
}

.datos3 a button button:hover {
    background: #c8d4d6;
    color: #fff;
}

/*******************Form Sell******************************************/

.form {
    display: flex;
    flex-direction: column;
    /* flex-wrap: nowrap; */
    align-items: center;
    gap: 5px;
}

.form input {
    width: 350px;
    height: 35px;
}
.form h4 {
    font-size: 23px;
}
.form h6 {
    width: 350px;
    margin: 0 auto;
    font-size: 18px;
}
.form .btn {
    width: 100px;
    margin: 7px;
}
